# Das ist Gits benutzerspezifische Konfigurationsdatei.
[user]
# Bitte passen Sie die folgenden Zeilen an und kommentieren Sie diese aus:
	name = sandmannmax
	email = sandmannmaxxer@gmail.com
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@git.mxsandmann.com:222/"]
	insteadOf = https://git.mxsandmann.com/
